.overlay-demo-popover sp-action-group {
    padding: var(--spectrum-actiongroup-vertical-spacing-regular);
}

#overlay-demo {
    position: static;
}

#overlay-demo:not(:defined),
#overlay-demo *:not(:defined) {
    display: none;
}